<h1>Projects</h1>

<article>
    <h2>🎨 Le Garage de Gilles</h2>
    <p>Artworks portfolio with real-time messaging, order tracking, and multilingual support.</p>
    <ul>
        <li>Symfony 7.3, PostgreSQL 17.5, Docker, Mercure, Turbo 8, Tailwind 4.1</li>
        <li>Live messaging between artist and buyer</li>
        <li>SPA-like with Turbo + Tailwind</li>
    </ul>
</article>

<article>
    <h2>💬 My portfolio</h2>
    <p>A real-time messaging application with JWT auth and message editing.</p>
    <ul>
        <li>HTML + PICOCSS + HTMX</li>
        <li>Just 33kb on first load, and 1kb with cache</li>
    </ul>
</article>
